.links {
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

.link a {
  color: white;
  text-decoration: none;
  transition: all 0.25s ease-out;
}

.link a:hover {
  color: #4ecca3;
}
