.form {
  background-color: white;
  border-radius: 20px;
  display: flex;
  gap: 0.5rem;
  padding: 0.25em 0.5em;
}

.search {
  border: none;
}

.search:focus {
  outline: none;
}

@media (max-width: 375px) {
  .search {
    width: 100px;
  }
}
