.container {
  color: #eeeeee;
  width: 70%;
  margin: auto;
}

/* Main Content */

.main-content {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.film-type {
  color: #4ecca3;
  font-size: 1rem;
}

.synopsis {
  width: 100%;
}

.film-poster {
  width: 280px;
}

@media (max-width: 1024px) {
  .main-content {
    flex-direction: column;
  }
}

@media (max-width: 375px) {
  .film-poster {
    width: 200px;
  }
}
